body{
	font-family:$font-secondary;
}

h1, h2, h3, h4{
	font-family:$font-main;
}
h1{
	font-size:130%;
	font-weight:bold;
	text-transform:uppercase;
}

main{
	padding: $global-padding;
	background-color:$color-bg;
	
	@include media($mobile) {
		padding: $sub-padding;
	}
}

a,a:visited{
	color:$color-link;
	@include transition(all .2s ease-in);
}
a:hover,a:active{
	color:$color-link-hover;

	-webkit-tap-highlight-color: $color-link-hover; 
	-webkit-user-select: none; 
	-webkit-touch-callout: none;
}

footer{
	font-family:$font-main;
	background-color:#000;
	text-align:center;
	padding:5px 0;

	span{
		color:#FFF;
		font-size:13px;
		line-height:17px;
	}

	a,a:visited{
		color:#FFF;
	}
	a:hover,a:active{
		color:$color-link-hover;
	}
}