$color-bg:#EEEEEE;
$color-text-main:#333;

$font-main:'Source Sans Pro', sans-serif;
$font-secondary:'Playfair Display', serif;

$color-link:#111;
$color-link-hover:#BADA55;

$header-height:80px;
$header-height-mobile:50px;

$global-padding : 50px;