        </main>
        
        <footer class="section">
        	<div class="container">
            	<span>&copy; {{ site.time| date: "%Y" }} All rights reserved | Made by <a href="http://www.twitter.com/tameroski" title="twitter.com/tameroski">tameroski</a></span>
            </div>
        </footer>

        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-72299600-1', 'auto');
		  ga('send', 'pageview');

		</script>

    </body>
</html>